.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.tabcontent {
    /* float: right; */
    padding: 0px 12px;
    border: 1px solid #ccc;
    margin-left: 300px;
    margin-right: 100px;
    border-left: none;
    height: auto;
    width: 50%;
    background-color:rgba(221,219,186,255);
    opacity: 0.9;
    border-radius: 20px;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /* width: 50%; */
    margin-left: 150px;
}

.cancel{
    background-color: tomato;
    width: 50%;
}
  
button:hover {
    opacity: 0.8;
}

.label{
    color:green;
}

.invalid {
    color: #b40e0e;
}
